.header {
    background-color: #282c34;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    z-index: 2;
}

.link {
    text-decoration: none;
    color: aliceblue;

    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}